@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800&display=swap');

$font-family: 'Rubik', sans-serif;
$header-height: 150px;
$header-bg: #ffffff 0% 0% no-repeat padding-box;

$title-color: #fdd000;
$navLink-color: #3d3d3d;

$calendar-bg-color: #272829;

$home-text-color: #dfdfdf;
