@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  height: 100%;
}
